torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
mmcv==1.7.0
timm==0.6.12
tensorboard
tensorboardX
transformers==4.52.2
sentencepiece~=0.1.99
ftfy
beautifulsoup4
protobuf==3.20.2
gradio==4.1.1
yapf==0.40.1
opencv-python
bs4
einops
xformers
optimum
peft==0.6.2
pytorch-fid
trl
pillow
webdataset
came_pytorch
fairscale
pillow>=10.0.0
diffusers==0.31.0
wandb